.helpTab {
  background: white;
  overflow: auto;
  min-height: 100vh;
  width: 100%;
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background-color: #e40046;
    margin: 0;
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
    padding: 5px 16px;
    span:first-child {
      font-size: 14px;
      font-weight: normal;
      position: absolute;
      left:16px
    }
    span {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    .row {
      display: flex;
      width: 90vw;
      .col {
        width: inherit;
      }
    }
    .tabs {
      overflow: hidden;
    }
    .tab {
      width: 98%;
      color: #333333;
      overflow: hidden;
      margin: 1em 0;
      border: solid 1.7px #f2f3f4;
      border-radius: 8px;
    }
    .tab-label {
      display: flex;
      justify-content: space-between;
      padding: 0.5em 1em;
      background: #f2f3f4;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      text-align: left;
      min-height: 18px;
      /* Icon */
      &::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all 0.35s;
        margin: 4px;
      }
    }
    .tab-content {
      padding: 0 1em;
      color: #666666;
      background: white;
      transition: all 0.35s;
      text-align: left;
      font-size: 14px;
      height: 0;
      visibility: hidden;
    }
    .tab-close {
      display: flex;
      justify-content: flex-end;
      padding: 1em;
      font-size: 0.75em;
      cursor: pointer;
    }
    .tab.clicked {
      .tab-label::after {
        transform: rotate(90deg);
      }
      .tab-content {
        // max-height: 100vh;
        padding: 1em;
        height: auto;
        visibility: visible;
      }
    }
  }
}
