*{
    box-sizing: border-box;
}
.map-container{
    position: static !important;
}
.chat-with-user{
    color: blue;
    margin-left: 5px;
    font-size: 16px;
}
.infomarker{
    display: flex;
    flex-direction: column;
    color: #444;
}
.infomarker__footer{
    width: 100%;
}
.infomarker__footer ul{
    display: flex;
    flex-direction: row;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
.infomarker__footer ul li{
    padding: 10px;
    border-right: 1px solid #9690be;
    background-color: #a297e8;
    text-align: center;
}
.infomarker__footer ul a{
    text-decoration: none;
    color: #fff;
}
.markerbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #444;
    padding: 10px;
}
.gm-style-iw,.gm-style-iw-d {
    padding: 0px!important;
    overflow: hidden!important;
}
.infomarker__initial{
    background-color: #eee;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.informarker__userbox h3{
    padding: 0;
    margin: 0;
}
.informarker__userbox{
    margin-left: 10px;
}
.informarker__userbox p{
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #777;
}
.informarker__userbox p span{
    font-weight: bold;
}